/* styles for Visit My Lab */

body {
    /*background-image: url("/img/bg.jpg");*/
    background: rgb(250,250,250);
}

#experiments{
    position:absolute;
    overflow:hidden;
    min-height:300px;
    min-width:500px;
    top:20px;
    bottom:0px;
    left:20px;
    right:20px;
    border: solid rgba(255,0,0,0.5);
    border-width: 1px 1px 5px;
    border-radius:10px;
    font-size: 22pt; /* necessary to define em */
}

.ui-resizable-s {
    background-color:lightblue;
    bottom: 0px;
}

#disp{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: inherit;
    right: 8.2em;
    bottom: 20px;
    border: 1px black solid;
    border-radius: 10px;
}
#buttons{
    position: absolute;
    font-size: inherit;
    width: 8em;
    height:100%;
    right:0px;
    bottom:0px;
}

.wideButton{
    width:100%;
}

.activeButton {
    font-size: inherit;
    z-index:10;
    color:green;
    background-color:rgb(255,255,200);
    opacity:0.75;
    height:2em;
    border: 1px black solid;
    border-radius:30px;
    cursor: pointer;
    vertical-align:middle;
}

.noButton {
    font-size: inherit;
    z-index:10;
    color:black;
    background-color:rgb(255,255,200);
    opacity:0.6;
    min-height:2em;
    border: 1px black solid;
    border-radius:30px;
    cursor: text;
    vertical-align:middle;
}

.croContainer{
    z-index:20;
    background:white; /* outer background of the scope */
    overflow:hidden;
    width: 100%;
    height: 100%;
    border-radius:2%;
    font-size: inherit;
}

.croGraph{
    position:relative;
    left:0px;
    width:100%;
    height:100%;
}
