/* styles for Visit My Lab */

body {
    background-image: url("/img/bg.jpg");
}

#experiments{
    position:absolute;
    overflow:hidden;
    min-height:300px;
    min-width:500px;
    top:20px;
    bottom:20px;
    left:20px;
    right:20px;
    border:1px solid red;
    border-radius:10px;
    font-size: 22pt; /* necessary to define em */
}

#disp{
    position: absolute;
    height: 100%;
    left: 0px;
    font-size: inherit;
    right: 8.2em;
    bottom: 0px;
}
#buttons{
    position: absolute;
    font-size: inherit;
    width: 8em;
    height:100%;
    right:0px;
    bottom:0px;
}

.activeButton {
    font-size: inherit;
    z-index:10;
    color:green;
    opacity:0.75;
    height:2em;
    border-radius:30px;
    cursor: pointer;
    vertical-align:middle;
}

.wideButton{
    width:100%;
}

.noButton {
    font-size: inherit;
    z-index:10;
    color:black;
    opacity:0.6;
    min-height:2em;
    border-radius:30px;
    cursor: text;
    vertical-align:middle;
}

.croContainer{
    z-index:20;
    background:white; /* outer background of the scope */
    overflow:hidden;
    width: 100%;
    height: 100%;
    border-radius:2%;
    font-size: inherit;
}

.croGraph{
    position:relative;
    left:0px;
    width:100%;
    height:100%;
}
